<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>OSS上传</title>
    <script src="../../static/js/jquery.1.9.1.min.js"></script>
    <script src="../../static/js/common.js"></script>
</head>
<body>
    <h1>上传到OSS</h1>
    请选择文件
    <div id="imgContainer"></div>
    <form id="FormInfo" method="post" enctype="multipart/form-data" action="/oss/upload">
        <input name="file" type="file" id="file" multiple="multiple"/>
        <input name="fileName" type="text" />
        <select name="bucketName">
            <option th:each="bucket:${bucketList}" th:value="${bucket}" th:text="${bucket}"></option>
        </select>
    </form>
    <button type="button" id="start-upload">开始上传</button>

<script>
    $(function () {
        $('#start-upload').on("click", function () {
            //var formData = new FormData();
            //var file = $("#myfile")[0].files[0];
            //formData.append("myfile", file);
            var formData = new FormData($('#FormInfo')[0]);
            ajaxFormPost(formData, "/oss/upload", function (result) {
                console.log(result);
            })
        });


    });

</script>
</body>
</html>