<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="/common/header::commonHeader('欢迎您')"/>
    <th:block th:include="/common/header::noreferrer"/>
</head>

<body>
<h1>一级标题</h1>
<h2 th:text="'Hello, ' + ${title}" ></h2><br/>
<h4 th:if="${student.id eq 1} ? (${student.name eq '小王想'})">全正确才显示</h4>
<h4 th:if="${student.id eq 1} ? (${student.name eq '小王'})">全正确才显示</h4>
<h4 th:if="${student.id} eq 1 ? (${student.name eq '小王'}) : '真的吗'">全正确才显示</h4>
<h4 th:text="${#dates.format(student.birth,'yyyy-MM-dd HH:mm:ss')}"></h4>
<ul>
    <li th:each="stu:${studentList}">
        <p th:text="${stuStat.index} + '|' + ${stuStat.current.birth}"></p>
    </li>
</ul>

<script th:src="@{/static/js/jquery.1.9.1.min.js}"></script>
<script>
    $(function(){
        console.log("page load finish.");
    });
</script>
</body>
</html>