<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.acyou.iblogdata.dao.BaseMapper">

    <select id="getUUid" resultType="java.lang.String">
        SELECT UUID_SHORT() UUID
    </select>

    <select id="getBillNo" resultType="java.lang.String" flushCache="true">
  	 	<![CDATA[
        select genatorBillNo(#{billType}, #{billDate})
        ]]>
  	 </select>

    <select id="getBuildOnlyNumber" resultType="java.lang.Long">
        select _nextval(#{seq_name}) from dual;
    </select>

    <update id="createSequence" >
        insert into tbl_sequence (seq_name, min_value, max_value, current_val, increment_val,remark)
        values (#{seq_name}, 1, 99999999999, 1, 1, 'auto add')
    </update>

</mapper>