<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.acyou.iblogdata.dao.TeacherMapper">

    <resultMap id="BaseResultMap" type="cn.acyou.iblogdata.entity.Teacher">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="student_id" jdbcType="INTEGER" property="studentId" />
    </resultMap>


    <sql id="Base_Column_List">
        id, name, age, student_id
    </sql>

    <select id="getAllTeacher" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from teacher
    </select>

    <select id="getTeacherById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from teacher
        where id = #{id}
    </select>

    <select id="getAllTeacher2" resultType="cn.acyou.iblogdata.entity.Teacher">
        select <include refid="Base_Column_List"/> from teacher
    </select>

    <insert id="addTeacher">
        insert into teacher (name, age) values (#{name}, #{age});
    </insert>

    <update id="updateTeacher">
        update teacher
        <set>
            <if test="name        != null">name      = #{name     },</if>
            <if test="age         != null">age       = #{age      },</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteTeaher">
        delete from teacher where id = #{id}
    </delete>
</mapper>